.content_access{
  text-align: center;
  color: black;
}

.pass{
  margin-left: 20px;
  margin-right: 20px;
}

.menuButton{
    marginLeft: -12;
    marginRight: 20;
},
.grow {
    flexGrow: 1;
    textAlign: "left"
}

img{
    width:30%;
  }

@media (max-width: 750px) {
    img {
      width: 50%;
    }
  }

p[class="company"]{
  font-size: 25px;
}

.return {
  color: #91a3b0 !important;
}
