.layout {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.form {
    display: block;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 30px 1fr;
    text-align: left;
}